fichero {background-color:gray;}
ficha {background-color:gray; display:block;} 
nombre {color:blue;font-size: large;} 
apellido {color:blue;font-size: large;}
direccion {color:blue;font-size: large; display:none;}
telefono {color:blue;font-size: large;display: block;}
email {color:blue;font-size: large;display: block;}
url {color:blue;font-size: large;display: block;}
dui {color:blue;font-size: large;display: block;}
isss {color:blue;font-size: large;display: block;}
afp {color:blue;font-size: large;display: block;}