pais {background-color:gray;}
departamento {color:blue;font-size: large;display: block;}
cabecera {color:blue;font-size: large;display: block;}
habitantes{color:blue;font-size: large;display: block;}
altura {color:blue;font-size: large;display: block;}
moneda {color:blue;font-size: large;display: block;}
codigo {color:blue;font-size: large;display: block;}
idiomas {color:blue;font-size: large;display: block;}